<div class = "form-group col-md-4">
    <label for = "name">Name</label>
    <br>
    <input class = "form-control" type = "text" name = "name">
    <br>
    <label for = "content">Content</label>
    <br>
    <textarea class = "form-control" name = "content"></textarea>
    <br>
</div>