<form action = "/comments/<%= @comment.id %>" method = "post">
    <input type = "hidden" name = "_method" value = "PUT">
    <%= erb :comment_form %>
    <input class = "btn btn-primary" type = "submit" value = "Edit">
</form>