<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Student Information System</h1>
        <a class = "btn btn-primary" href = "/">Home</a>
        <a class = "btn btn-primary" href = "/students">Students</a>
        <a class = "btn btn-primary" href = "/comments">Comment</a>
        <a class = "btn btn-primary" href = "/video">Video</a>
        <a class = "btn btn-primary" href = "/logout">Logout</a>
        <br>
        <%= yield %>
    </body>
</html>