<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <form method = "post" action = "/login">
            <div class = "form-group col-md-4">
                <label for = "firstname">First Name</label>
                <br>
                <input class = "form-control" type = "text" name = "firstname">
                <br>
                <label for = "lastname">Last Name</label>
                <br>
                <input class = "form-control" type = "text" name = "lastname">
                <br>
                <input class = "btn btn-primary" type = "submit" value = "Submit">
            </div>
        </form>
    </body>
</html>