<div class = "form-group col-md-4">
    <label for = "firstname">First Name</label>
    <br>
    <input class = "form-control" type = "text" name = "firstname">
    <br>
    <label for = "lastname">Last Name</label>
    <br>
    <input class = "form-control" type = "text" name = "lastname">
    <br>
    <label for = "birthday">Birthday</label>
    <br>
    <input class = "form-control" type = "date" name = "birthday">
    <br>
    <label for = "address">Address</label>
    <br>
    <input class = "form-control" type = "text" name = "address">
    <br>
</div>